@charset "UTF-8";

body {
    background-color: #ffffff;
}



nav{
	width: 100%;
	height: 60px;
	text-align:center;
	}

nav a {
	text-align:center;
	font-family:"Lucida Grande";
	font-size: 24px;
	float:inherit;
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration:none;
	color: #787575;
	}
	
nav a:hover{
	text-decoration:none;
	cursor: pointer;
	font-size: 30px;
	color: #644280;
}

#h2 {
	color:#000000;
	font-family:"Helvetica";
	font-size:110px;
	font-style:normal;
	letter-spacing: 5px;
	text-align:center;
	
}

#h3 {
	color: #6C6C6C;
	font-family: "Lucida Grande";
	font-size: 50px;
	text-align:center;
}

#p1 {
	color:#A7A7A7;
	font-family:"Lucida Grande";
	font-size: 15px;
	text-align:center;
	padding-left:500px;
	padding-right:500px;
	
}

#p1:hover {
		padding-top: 0%;
		font-size:25px;
		color:#868686;
		cursor:auto;
}

#p2 {
	colour: #868686;	
	font-family: 'Lobster', cursive;
	font-size: 50px;
	text-align:center;
	line-height: 104px;
	letter-spacing: 5px;
	float: right;
	width:780px;
	padding-right:50px;
}

#p3{
	colour: #868686;	
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	text-align:center;
	line-height:50px;
	width:1300px;
	padding-left:10px;
}

#p6 {
	colour: #868686;	
	font-family: 'Poiret One', cursive;
}

/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 60%;
	float: left;
}

.g-30{
	width: 38%;
	float: right;
}

.g-70{
	width: 60%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 10px; /* I add this to cells to add a little padding*/
}